@model VetCrm.Models.PacienteVacina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacienteVacina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacina.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProximaDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProximaDose)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
